body.shuiyuan-april-fools-2024{
    span.user-title{
        display: none;
    }

    div:has(> span.user-title){
        &::after{
            @keyframes colorChange {
                0% { color: red; }

                50% { color: gold; }

                100% { color: red; }
            }
            content: "#{$new_user_title_2024}";
            display: block;
            animation: colorChange 5s infinite;
            font-weight: bold;
        }
    }
}

@keyframes hoverHint {
    0% {
      content: inherit;
    }

    90% {
      content: inherit;
      color: purple;
    }

    100% {
      content: "#{$global_hint_text_2024}";
      color: inherit;
    }
}

$user-titles: 活跃用户, 精品作者, 博物学者, 谈笑风生, 水源团队;
$user-title-replace: 不活跃用户, 精品读者, 博物学生, 笑谈生风, 水源用户;

body.shuiyuan-april-fools-2024-global:not(.shuiyuan-april-fools-2024){
    @each $original, $replace in zip($user-titles, $user-title-replace){
        div:has(> span.user-title.user-title--#{$original}){
            color: rgb(31, 80, 165);

            &::after{
                content: '#{$replace}';
                font-size: var(--font-0);
                cursor: help;
            }

            &:hover::after{
                animation-name: hoverHint;
                animation-delay: 0.5s;
                animation-duration: 2.5s;
                animation-iteration-count: 1;
                animation-fill-mode: backwards;
            }
        }
        span.user-title.user-title--#{$original}{
            display: none;
        }
    }
}